@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
.tlo {
  width: 100vw;
  height: 80vh;
  background-image: url("../img/tlo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ofertsBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.ofertsBlocks .box {
  width: calc(100%/3);
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ofertsBlocks .box .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.ofertsBlocks .box .filter p {
  margin: 0;
  color: white;
  font-family: 'Roboto', 'sans-serif';
  font-size: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  cursor: default;
  -webkit-transition: 1s;
  transition: 1s;
}

.ofertsBlocks .box .filter:hover p {
  font-size: 50px;
  letter-spacing: 2px;
}

.ofertsBlocks .box .filter:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.ofertsBlocks .Toczenie {
  background-image: url("../img/toczenie.jpg");
}

.ofertsBlocks .Szlifowanie {
  background-image: url("../img/unnamed.jpg");
}

.ofertsBlocks .Frezowanie {
  background-image: url("../img/1_orig.jpg");
}

.ofertsBlocks .Cięcie {
  background-image: url("../img/ciecie-metalu-1600x800.jpg");
}

.ofertsBlocks .Wykrawianie {
  background-image: url("../img/wykrawa.jpg");
}

.ofertsBlocks .elektrodrążenie {
  background-image: url("../img/laser-6078455_640.jpg");
}

.offert {
  margin-top: 5vh;
  font-size: 50px;
  font-family: 'Roboto','sams-serif';
  font-weight: bold;
}

.offert .ofertTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  cursor: default;
}

.offert .ofertTitle .line {
  background-color: black;
  width: 30vw;
  border: 4px solid #000000;
  height: 10px;
}

@media (max-width: 1325px) and (orientation: landscape) {
  .ofertsBlocks .box .filter p {
    font-size: 40px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 45px;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  .ofertsBlocks .box .filter p {
    font-size: 35px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 40px;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .ofertsBlocks .box .filter p {
    font-size: 32px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 36px;
  }
}

@media (max-width: 980px) and (orientation: portrait) {
  .ofertsBlocks .box {
    width: 50%;
  }
  .ofertsBlocks .box .filter p {
    font-size: 30px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 35px;
  }
}

@media (min-width: 320px) and (orientation: portrait) {
  .ofertsBlocks {
    margin-bottom: 7vh;
  }
  .ofertsBlocks .box {
    width: 100%;
    height: 50vh;
  }
  .ofertsBlocks .box .filter {
    -webkit-transition: 0s;
    transition: 0s;
  }
  .ofertsBlocks .box .filter p {
    font-size: 30px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 30px;
    letter-spacing: 0px;
  }
  .ofertsBlocks .box .filter:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 12vw;
    height: 5px;
  }
  .offert .ofertTitle p {
    font-size: 28px !important;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  .ofertsBlocks {
    margin-top: 3vh;
  }
  .ofertsBlocks .box {
    width: 100%;
    height: 40vh;
  }
  .ofertsBlocks .box .filter p {
    font-size: 40px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 40px;
  }
  .offert {
    margin-top: 2vh;
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 16vw;
    height: 5px;
  }
  .offert .ofertTitle p {
    font-size: 35px !important;
  }
}

@media (min-width: 414px) and (orientation: portrait) {
  .ofertsBlocks .box .filter p {
    font-size: 40px;
  }
  .offert {
    margin-top: 2vh;
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 16vw;
    height: 5px;
  }
  .offert .ofertTitle p {
    font-size: 35px !important;
  }
}

@media (min-width: 375px) and (min-height: 667px) and (orientation: portrait) {
  .ofertsBlocks .box .filter p {
    font-size: 40px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 40px;
  }
  .offert {
    margin-top: 2vh;
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 16vw;
    height: 5px;
  }
  .offert .ofertTitle p {
    font-size: 40px !important;
  }
}

@media (min-width: 375px) and (min-height: 812px) and (orientation: portrait) {
  .ofertsBlocks .box {
    height: 40vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .ofertsBlocks {
    margin-bottom: 7vh;
  }
  .ofertsBlocks .box {
    width: 50%;
    height: 35vh;
  }
  .ofertsBlocks .box .filter p {
    font-size: 35px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 35px;
  }
  .offert {
    margin-top: 2vh;
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 25vw;
    height: 5px;
  }
  .offert .ofertTitle p {
    font-size: 45px !important;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .ofertsBlocks {
    margin-bottom: 7vh;
  }
  .ofertsBlocks .box {
    width: 50%;
    height: 35vh;
  }
  .ofertsBlocks .box .filter p {
    font-size: 50px;
  }
  .ofertsBlocks .box .filter:hover p {
    font-size: 50px;
  }
  .offert {
    margin-top: 2vh;
  }
  .offert .ofertTitle {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .offert .ofertTitle .line {
    width: 25vw;
    height: 10px;
  }
  .offert .ofertTitle p {
    font-size: 60px !important;
  }
}
/*# sourceMappingURL=ofert.css.map */